@model Db4o_lab2.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

@Html.ActionLink("Pokaż drzewo", "FamilyTree", "Home", new { id = Model.Person.Name }, new { @class = "btn btn-primary" })


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.DeathDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.DeathDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @(Model.FatherName == "Nie podano" ?
                  Html.DisplayFor(modelItem => Model.FatherName) :
                  (Html.ActionLink(Model.FatherName, "Details", new {id = Model.FatherName}, new {@class = "text-primary"})))
            @(Model.FatherName == "Nie podano" ?Html.ActionLink("Dodaj ojca","AddFather",new{id=Model.Person.Name}):
                  Html.ActionLink("X","DeleteRelation",new{childId=Model.Person.Name,id=Model.FatherName},new{@class="text-danger"}))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd>
            @(Model.MotherName == "Nie podano" ? Html.DisplayFor(modelItem => Model.MotherName) : Html.ActionLink(Model.MotherName, "Details", new { id = Model.MotherName }, new { @class = "text-primary" }))
            @(Model.MotherName == "Nie podano" ? Html.ActionLink("Dodaj matkę", "AddMother", new { id = Model.Person.Name }) :
                  Html.ActionLink("X", "DeleteRelation", new { childId = Model.Person.Name, id = Model.MotherName }, new { @class = "text-danger" }))
        </dd>

    </dl>
    @Html.ActionLink("Dodaj potomka","AddChild",new{id=Model.Person.Name},new{@class="btn btn-success"})
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Płeć</th>
                <th>Data urodzenia</th>
                <th>Data śmierci</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Childs)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Sex</td>
                    <td>@item.BirthDate</td>
                    <td>@item.DeathDate</td>
                    <th>
                        @Html.ActionLink("Usuń więź", "DeleteRelation", new { id = Model.Person.Name, childId = item.Name }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.Name }, new { @class = "btn btn-primary" })
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
<h3>Spadkobiercy zstępni:</h3>
@foreach (var item in Model.Inheritors)
{
    @Html.ActionLink(item,"Details","Home",new{id=item})<br/>
}
<br/>
<br />
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Person.Name }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
